#root {
  --font-size: 12px;
  --margin: 5px;
  --padding: 10px;
  --radius: 8px;
  --gap: 8px;
  --bg_color: #efefef;
  --text_color: #555;
  --bdr_color: rebeccapurple;

  min-height: 100vh;
  background-color: snow;
  margin: auto;
  padding: calc((var(--gap)) * 2);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc((var(--gap)) * 2);
}

header {
  width: 100%;
  background-color: var(--bg_color);
  padding: var(--padding) 0;
}

nav,
main {
  width: 100%;
}

h1 {
  font-size: calc(var(--font-size) * 1.2);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
  color: var(--text_color);
}

h1 span {
  border-bottom: 1px solid var(--bdr_color);
}

.categories {
  list-style: none;
  margin: auto;

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, var(--btn_width));
  justify-content: center;
  align-items: center;
}

.button {
  width: 100%;
  cursor: pointer;
  padding: var(--margin);
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  text-shadow: 1px 1px 1px #fff;
  font-size: calc(var(--font-size) * 0.85);
  color: var(--text_color);
}

.button.clicked {
  border: 2px solid var(--bdr_color);
  border-radius: var(--radius);
}

.products {
  list-style: none;

  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product {
  border: 1px solid var(--bdr_color);
  border-radius: var(--radius);
  padding: var(--padding);
  background-color: #fff;
  color: var(--text_color);

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: auto;
  pointer-events: none;
}

.product p {
  width: 100%;
  font-size: var(--font-size);
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
}

/* modal pop-up */

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.showModal {
  opacity: 1;
  visibility: visible;
  background-color: rgba(0, 0, 0, 0.5);
}

.modalContent {
  border: 2px solid var(--text_color);
  border-radius: var(--radius);
  padding: calc(var(--padding) * 2);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* width: 50vw; */
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: calc(var(--gap) * 5);
  align-items: center;
  justify-content: center;
}

.modalProduct {
  font-size: var(--font-size);
  display: grid;
  gap: calc(var(--gap) * 3);
  grid-template:
    "ttl ttl"
    "img prc"
    "desc desc";
}

.title {
  grid-area: ttl;
  text-align: center;
}

.image {
  grid-area: img;
  max-width: 10vw;
  align-self: center;
  justify-self: center;
}

.price {
  grid-area: prc;
  align-self: center;
  justify-self: start;
  font-size: calc(var(--font-size) * 1.3);
  color: var(--bdr_color);
}

.description {
  grid-area: desc;
  text-align: justify;
}

.modalButtons {
  width: 40%;

  display: flex;
  gap: calc(var(--gap) * 2);
  justify-content: center;
  align-items: center;
}

.cta {
  border: 1px solid var(--bdr_color);
  border-radius: var(--radius);
  font-size: calc(var(--font-size) * 1.2);
}
