#root {
  --font-size: 12px;
  --margin: 5px;
  --padding: 10px;
  --radius: 8px;
  --gap: 8px;
  --bg_color: #efefef;
  --text_color: #555;

  min-height: 100vh;
  background-color: snow;
  margin: auto;
  padding: calc((var(--gap)) * 2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc((var(--gap)) * 2);
}

header {
  width: 100%;
  background-color: var(--bg_color);
  padding: var(--padding) 0;
}

nav,
main {
  width: 100%;
}

h1 {
  font-size: calc(var(--font-size) * 1.5);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
  color: var(--text_color);
}

.categories {
  list-style: none;
  margin: auto;
  display: flex;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  padding: var(--margin);
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px #fff;
  font-size: calc(var(--font-size) * 0.85);
  color: var(--text_color);
}

.button.clicked {
  border: 2px solid rebeccapurple;
  border-radius: var(--radius);
}

.products {
  list-style: none;
  display: grid;
  gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.product {
  border: 1px solid rebeccapurple;
  border-radius: var(--radius);
  padding: var(--padding);
  background-color: #fff;
  color: var(--text_color);
  display: flex;
  flex-direction: column;
  gap: var(--gap);
  justify-content: center;
  align-items: center;
}

.product img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: auto;
  pointer-events: none;
}

.product p {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: var(--font-size);
  text-align: center;
  pointer-events: none;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
}

.showModal {
  opacity: 1;
  visibility: visible;
}

.modalContent {
  border: 1px solid rebeccapurple;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  background-color: #fff;

  display: flex;
  flex-direction: column;
  gap: var(--gap);
  align-items: center;
  justify-content: center;
}

.modalProduct {
  display: grid;
  gap: var(--gap);
  grid-template:
    "ttl ttl"
    "img prc"
    "desc desc";
}

.title {
  grid-area: ttl;
}
.image {
  grid-area: img;
  width: 50%;
}
.price {
  grid-area: prc;
}
.description {
  grid-area: desc;
}
